td,th.CN {
	color: Red;
	text-align: center;
}
td.No {
text-align: center;
}
td,th.T7  {
	color: blue;text-align: center;
}
td,th {
width: 30px; height: 30px;padding: 20px;
font-family: 'Arial', cursive;
    font-size:16px;
    font-weight: bold;
    margin: 20px;


}
table {
    width: 70%;
    border-collapse: collapse;
    padding: 40px;
     margin: 20px;
}
th,td.Cell {
    width: 50px; height: 50px;padding: 30px;
    font-size:16px;
    font-weight: bold;
        padding: 20px;
    border: 1px solid black;
}

