td,th {
width: 50px; height: 50px;padding: 30px;
font-family: 'Arial', cursive;
    font-size:16px;
    font-weight: bold;

}
table.cell {
    width: 70%;
    height: 70%;
    border-collapse: collapse;
    padding: 40px;
}
